### LINK TO TABLEAU PUBLIC

https://eu-west-1a.online.tableau.com/#/site/mlironhack/workbooks/230548/views

In [1]:
#Libraries
import pandas as pd
import datetime as dt

In [2]:
#Functions

def general_check(df):
    """
    returns a dictionary of columns names, shape of the df, dict with columns as keys and
    number of nulls/columns
    
    Input: DataFrame
    Output: list of dictionaries
    """
    general = {"COLNAMES":[c for c in df.columns],"SHAPE":tuple(df.shape), "TYPE":\
               {k:v for k,v in zip([c for c in df.columns],[df[c].dtype for\
                                                            c in [c for c in df.columns]])},
               "NULLS":{k:v for k,v in zip([c for c in df.columns],[df[c].isna().sum() for\
                                                            c in [c for c in df.columns]])}}
    return general

# IMPORT DATASETS

In [3]:
orders  = pd.read_csv("olist_orders_dataset.csv")
items  = pd.read_csv("olist_order_items_dataset.csv")
sellers  = pd.read_csv("olist_sellers_dataset.csv")
prod  = pd.read_csv("olist_products_dataset.csv")
customers  = pd.read_csv("olist_customers_dataset.csv")

# IMPORT AND VISUALIZE & CLEAN DATASETS

## ORDERS

In [4]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [5]:
general_check(orders)

{'COLNAMES': ['order_id',
  'customer_id',
  'order_status',
  'order_purchase_timestamp',
  'order_approved_at',
  'order_delivered_carrier_date',
  'order_delivered_customer_date',
  'order_estimated_delivery_date'],
 'SHAPE': (99441, 8),
 'TYPE': {'order_id': dtype('O'),
  'customer_id': dtype('O'),
  'order_status': dtype('O'),
  'order_purchase_timestamp': dtype('O'),
  'order_approved_at': dtype('O'),
  'order_delivered_carrier_date': dtype('O'),
  'order_delivered_customer_date': dtype('O'),
  'order_estimated_delivery_date': dtype('O')},
 'NULLS': {'order_id': 0,
  'customer_id': 0,
  'order_status': 0,
  'order_purchase_timestamp': 0,
  'order_approved_at': 160,
  'order_delivered_carrier_date': 1783,
  'order_delivered_customer_date': 2965,
  'order_estimated_delivery_date': 0}}

In [6]:
orders['order_purchase_timestamp'] = pd.to_datetime(orders["order_purchase_timestamp"])

for col in orders.columns[4:]:
    orders[col] = pd.to_datetime(orders[col]).dt.date

orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02,2017-10-04,2017-10-10,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26,2018-07-26,2018-08-07,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08,2018-08-08,2018-08-17,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18,2017-11-22,2017-12-02,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13,2018-02-14,2018-02-16,2018-02-26

In [7]:
orders.drop(["order_purchase_timestamp"],axis=1,inplace=True)

## ITEMS

In [8]:
items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [9]:
general_check(items)

{'COLNAMES': ['order_id',
  'order_item_id',
  'product_id',
  'seller_id',
  'shipping_limit_date',
  'price',
  'freight_value'],
 'SHAPE': (112650, 7),
 'TYPE': {'order_id': dtype('O'),
  'order_item_id': dtype('int64'),
  'product_id': dtype('O'),
  'seller_id': dtype('O'),
  'shipping_limit_date': dtype('O'),
  'price': dtype('float64'),
  'freight_value': dtype('float64')},
 'NULLS': {'order_id': 0,
  'order_item_id': 0,
  'product_id': 0,
  'seller_id': 0,
  'shipping_limit_date': 0,
  'price': 0,
  'freight_value': 0}}

In [10]:
items['shipping_limit_date'] = pd.to_datetime(items["shipping_limit_date"]).dt.date
items.drop(["order_item_id"],axis=1,inplace=True)
items.head()

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13,199.90,18.14

## PRODUCTS

In [11]:
prod.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [12]:
general_check(prod)

{'COLNAMES': ['product_id',
  'product_category_name',
  'product_name_lenght',
  'product_description_lenght',
  'product_photos_qty',
  'product_weight_g',
  'product_length_cm',
  'product_height_cm',
  'product_width_cm'],
 'SHAPE': (32951, 9),
 'TYPE': {'product_id': dtype('O'),
  'product_category_name': dtype('O'),
  'product_name_lenght': dtype('float64'),
  'product_description_lenght': dtype('float64'),
  'product_photos_qty': dtype('float64'),
  'product_weight_g': dtype('float64'),
  'product_length_cm': dtype('float64'),
  'product_height_cm': dtype('float64'),
  'product_width_cm': dtype('float64')},
 'NULLS': {'product_id': 0,
  'product_category_name': 610,
  'product_name_lenght': 610,
  'product_description_lenght': 610,
  'product_photos_qty': 610,
  'product_weight_g': 2,
  'product_length_cm': 2,
  'product_height_cm': 2,
  'product_width_cm': 2}}

In [13]:
prod["product_volume_cm3"] = prod["product_length_cm"]*prod["product_height_cm"]*prod["product_width_cm"] 
prod.drop(["product_name_lenght","product_description_lenght","product_photos_qty",
           "product_length_cm","product_height_cm","product_width_cm"],axis=1, inplace=True)
prod.head()

,product_id,product_category_name,product_weight_g,product_volume_cm3
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,225.0,2240.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,1000.0,10800.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,154.0,2430.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,371.0,2704.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,625.0,4420.0

## SELLERS

In [14]:
sellers.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [15]:
general_check(sellers)

{'COLNAMES': ['seller_id',
  'seller_zip_code_prefix',
  'seller_city',
  'seller_state'],
 'SHAPE': (3095, 4),
 'TYPE': {'seller_id': dtype('O'),
  'seller_zip_code_prefix': dtype('int64'),
  'seller_city': dtype('O'),
  'seller_state': dtype('O')},
 'NULLS': {'seller_id': 0,
  'seller_zip_code_prefix': 0,
  'seller_city': 0,
  'seller_state': 0}}

In [16]:
sellers.drop(["seller_zip_code_prefix"],axis=1,inplace=True)

## CUSTOMERS

In [17]:
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [18]:
general_check(customers)

{'COLNAMES': ['customer_id',
  'customer_unique_id',
  'customer_zip_code_prefix',
  'customer_city',
  'customer_state'],
 'SHAPE': (99441, 5),
 'TYPE': {'customer_id': dtype('O'),
  'customer_unique_id': dtype('O'),
  'customer_zip_code_prefix': dtype('int64'),
  'customer_city': dtype('O'),
  'customer_state': dtype('O')},
 'NULLS': {'customer_id': 0,
  'customer_unique_id': 0,
  'customer_zip_code_prefix': 0,
  'customer_city': 0,
  'customer_state': 0}}

In [19]:
customers.drop(["customer_unique_id","customer_zip_code_prefix"],axis=1,inplace=True)
customers.head()

                        customer_id          customer_city customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7                 franca             SP
1  18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo             SP
2  4e7b3e00288586ebd08712fdd0374a03              sao paulo             SP
3  b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad               campinas             SP

# MERGE

In [20]:
mrg1 = orders.merge(items,how="inner",on="order_id") 
general_check(mrg1)

{'COLNAMES': ['order_id',
  'customer_id',
  'order_status',
  'order_approved_at',
  'order_delivered_carrier_date',
  'order_delivered_customer_date',
  'order_estimated_delivery_date',
  'product_id',
  'seller_id',
  'shipping_limit_date',
  'price',
  'freight_value'],
 'SHAPE': (112650, 12),
 'TYPE': {'order_id': dtype('O'),
  'customer_id': dtype('O'),
  'order_status': dtype('O'),
  'order_approved_at': dtype('O'),
  'order_delivered_carrier_date': dtype('O'),
  'order_delivered_customer_date': dtype('O'),
  'order_estimated_delivery_date': dtype('O'),
  'product_id': dtype('O'),
  'seller_id': dtype('O'),
  'shipping_limit_date': dtype('O'),
  'price': dtype('float64'),
  'freight_value': dtype('float64')},
 'NULLS': {'order_id': 0,
  'customer_id': 0,
  'order_status': 0,
  'order_approved_at': 15,
  'order_delivered_carrier_date': 1194,
  'order_delivered_customer_date': 2454,
  'order_estimated_delivery_date': 0,
  'product_id': 0,
  'seller_id': 0,
  'shipping_limit_date': 0,
  'price': 0,
  'freight_value': 0}}

In [21]:
mrg2 = mrg1.merge(prod,how="inner",on="product_id") 
general_check(mrg2)

{'COLNAMES': ['order_id',
  'customer_id',
  'order_status',
  'order_approved_at',
  'order_delivered_carrier_date',
  'order_delivered_customer_date',
  'order_estimated_delivery_date',
  'product_id',
  'seller_id',
  'shipping_limit_date',
  'price',
  'freight_value',
  'product_category_name',
  'product_weight_g',
  'product_volume_cm3'],
 'SHAPE': (112650, 15),
 'TYPE': {'order_id': dtype('O'),
  'customer_id': dtype('O'),
  'order_status': dtype('O'),
  'order_approved_at': dtype('O'),
  'order_delivered_carrier_date': dtype('O'),
  'order_delivered_customer_date': dtype('O'),
  'order_estimated_delivery_date': dtype('O'),
  'product_id': dtype('O'),
  'seller_id': dtype('O'),
  'shipping_limit_date': dtype('O'),
  'price': dtype('float64'),
  'freight_value': dtype('float64'),
  'product_category_name': dtype('O'),
  'product_weight_g': dtype('float64'),
  'product_volume_cm3': dtype('float64')},
 'NULLS': {'order_id': 0,
  'customer_id': 0,
  'order_status': 0,
  'order_approved_at': 15,
  'order_delivered_carrier_date': 1194,
  'order_delivered_customer_date': 2454,
  'order_estimated_delivery_date': 0,
  'product_id': 0,
  'seller_id': 0,
  'shipping_limit_date': 0,
  'price': 0,
  'freight_value': 0,
  'product_category_name': 1603,
  'product_weight_g': 18,
  'product_volume_cm3': 18}}

In [22]:
mrg3 = mrg2.merge(sellers,how="inner",on="seller_id") 
general_check(mrg3)

{'COLNAMES': ['order_id',
  'customer_id',
  'order_status',
  'order_approved_at',
  'order_delivered_carrier_date',
  'order_delivered_customer_date',
  'order_estimated_delivery_date',
  'product_id',
  'seller_id',
  'shipping_limit_date',
  'price',
  'freight_value',
  'product_category_name',
  'product_weight_g',
  'product_volume_cm3',
  'seller_city',
  'seller_state'],
 'SHAPE': (112650, 17),
 'TYPE': {'order_id': dtype('O'),
  'customer_id': dtype('O'),
  'order_status': dtype('O'),
  'order_approved_at': dtype('O'),
  'order_delivered_carrier_date': dtype('O'),
  'order_delivered_customer_date': dtype('O'),
  'order_estimated_delivery_date': dtype('O'),
  'product_id': dtype('O'),
  'seller_id': dtype('O'),
  'shipping_limit_date': dtype('O'),
  'price': dtype('float64'),
  'freight_value': dtype('float64'),
  'product_category_name': dtype('O'),
  'product_weight_g': dtype('float64'),
  'product_volume_cm3': dtype('float64'),
  'seller_city': dtype('O'),
  'seller_state': dtype('O')},
 'NULLS': {'order_id': 0,
  'customer_id': 0,
  'order_status': 0,
  'order_approved_at': 15,
  'order_delivered_carrier_date': 1194,
  'order_delivered_customer_date': 2454,
  'order_estimated_delivery_date': 0,
  'product_id': 0,
  'seller_id': 0,
  'shipping_limit_date': 0,
  'price': 0,
  'freight_value': 0,
  'product_category_name': 1603,
  'product_weight_g': 18,
  'product_volume_cm3': 18,
  'seller_city': 0,
  'seller_state': 0}}

In [23]:
final = mrg3.merge(customers,how="inner",on="customer_id")

In [24]:
final.dropna(axis=0,inplace=True)
general_check(final)

{'COLNAMES': ['order_id',
  'customer_id',
  'order_status',
  'order_approved_at',
  'order_delivered_carrier_date',
  'order_delivered_customer_date',
  'order_estimated_delivery_date',
  'product_id',
  'seller_id',
  'shipping_limit_date',
  'price',
  'freight_value',
  'product_category_name',
  'product_weight_g',
  'product_volume_cm3',
  'seller_city',
  'seller_state',
  'customer_city',
  'customer_state'],
 'SHAPE': (108643, 19),
 'TYPE': {'order_id': dtype('O'),
  'customer_id': dtype('O'),
  'order_status': dtype('O'),
  'order_approved_at': dtype('O'),
  'order_delivered_carrier_date': dtype('O'),
  'order_delivered_customer_date': dtype('O'),
  'order_estimated_delivery_date': dtype('O'),
  'product_id': dtype('O'),
  'seller_id': dtype('O'),
  'shipping_limit_date': dtype('O'),
  'price': dtype('float64'),
  'freight_value': dtype('float64'),
  'product_category_name': dtype('O'),
  'product_weight_g': dtype('float64'),
  'product_volume_cm3': dtype('float64'),
  'seller_city': dtype('O'),
  'seller_state': dtype('O'),
  'customer_city': dtype('O'),
  'customer_state': dtype('O')},
 'NULLS': {'order_id': 0,
  'customer_id': 0,
  'order_status': 0,
  'order_approved_at': 0,
  'order_delivered_carrier_date': 0,
  'order_delivered_customer_date': 0,
  'order_estimated_delivery_date': 0,
  'product_id': 0,
  'seller_id': 0,
  'shipping_limit_date': 0,
  'price': 0,
  'freight_value': 0,
  'product_category_name': 0,
  'product_weight_g': 0,
  'product_volume_cm3': 0,
  'seller_city': 0,
  'seller_state': 0,
  'customer_city': 0,
  'customer_state': 0}}

In [25]:
final

,order_id,customer_id,order_status,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_weight_g,product_volume_cm3,seller_city,seller_state,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02,2017-10-04,2017-10-10,2017-10-18,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06,29.99,8.72,utilidades_domesticas,500.0,1976.0,maua,SP,sao paulo,SP
1,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15,2017-08-17,2017-08-18,2017-08-28,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-08-21,29.99,7.78,utilidades_domesticas,500.0,1976.0,maua,SP,sao paulo,SP
2,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02,2017-08-04,2017-08-07,2017-08-15,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-08-08,29.99,7.78,utilidades_domesticas,500.0,1976.0,maua,SP,sao paulo,SP
3,bfc39df4f36c3693ff3b63fcbea9e90a,53904ddbea91e1e92b2b3f1d09a7af86,delivered,2017-10-25,2017-10-27,2017-11-07,2017-11-13,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-31,29.99,14.10,utilidades_domesticas,500.0,1976.0,maua,SP,florianopolis,SC
4,8736140c61ea584cb4250074756d8f3b,ab8844663ae049fda8baf15fc928f47f,delivered,2017-08-10,2017-08-11,2017-08-16,2017-08-23,b00a32a0b42fd65efb58a5822009f629,3504c0cb71d7fa48d967e0e4c94d59d9,2017-08-16,75.90,7.79,bebes,238.0,3000.0,maua,SP,itaquaquecetuba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112642,5bacbd9f42bd029c3a296501224e193e,5a1470d43d8ad960d4199134d3df48e0,delivered,2018-08-10,2018-08-13,2018-08-21,2018-08-30,710e8b076db06c8e5343a9e23f0e3d83,8dd386be0767c330276ea6a3f96532d3,2018-08-15,44.99,22.25,esporte_lazer,600.0,12000.0,paulo lopes,SC,carai,MG
112645,1ab38815794efa43d269d62b98dae815,a0b67404d84a70ef420a7f99ad6b190a,delivered,2018-07-05,2018-07-04,2018-07-09,2018-07-20,31ec3a565e06de4bdf9d2a511b822b4d,babcc0ab201e4c60188427cae51a5b8b,2018-07-10,79.00,14.13,construcao_ferramentas_iluminacao,750.0,23520.0,porto ferreira,SP,ferraz de vasconcelos,SP
112647,735dce2d574afe8eb87e80a3d6229c48,d531d01affc2c55769f6b9ed410d8d3c,delivered,2018-07-24,2018-07-24,2018-08-02,2018-08-16,1d187e8e7a30417fda31e85679d96f0f,d263fa444c1504a75cbca5cc465f592a,2018-07-30,399.00,45.07,moveis_decoracao,2100.0,19200.0,americana,SP,fortaleza,CE
112648,25d2bfa43663a23586afd12f15b542e7,9d8c06734fde9823ace11a4b5929b5a7,delivered,2018-05-22,2018-05-24,2018-06-12,2018-06-08,6e1c2008dea1929b9b6c27fa01381e90,edf3fabebcc20f7463cc9c53da932ea8,2018-05-28,219.90,24.12,moveis_decoracao,5900.0,35301.0,sao paulo,SP,teofilo otoni,MG
112649,1565f22aa9452ff278638e87cc895678,56772dfbcbe7df908a284ff0d53adf7d,delivered,2018-05-16,2018-05-16,2018-05-21,2018-05-29,9c1e194db1d35a79d962ea610bfe0868,f3862c2188522d89860c38a3ea8b550d,2018-05-22,15.50,12.79,perfumaria,83.0,1768.0,ribeirao preto,SP,sao bernardo do campo,SP

In [26]:
final.isna().sum()

order_id                         0
customer_id                      0
order_status                     0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
product_id                       0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
product_category_name            0
product_weight_g                 0
product_volume_cm3               0
seller_city                      0
seller_state                     0
customer_city                    0
customer_state                   0
dtype: int64

In [27]:
final.dtypes

order_id                          object
customer_id                       object
order_status                      object
order_approved_at                 object
order_delivered_carrier_date      object
order_delivered_customer_date     object
order_estimated_delivery_date     object
product_id                        object
seller_id                         object
shipping_limit_date               object
price                            float64
freight_value                    float64
product_category_name             object
product_weight_g                 float64
product_volume_cm3               float64
seller_city                       object
seller_state                      object
customer_city                     object
customer_state                    object
dtype: object

In [28]:
final["order_status"].unique()

array(['delivered', 'canceled'], dtype=object)

In [29]:
final = final[final["order_status"] == "delivered"]

In [30]:
final.drop(["order_id","customer_id","product_id","seller_id","order_status"],axis=1,inplace=True)

/home/mattia/.local/lib/python3.6/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [31]:
final.columns = ['order approved at', 'order delivered carrier date','order delivered customer date',
 'order estimated delivery date','shipping limit date', 'price', 'freight value',
 'product category name', 'product weight g', 'product volume cm3','seller_city',
 'seller state', 'customer city', 'customer state']

In [32]:
final

,order approved at,order delivered carrier date,order delivered customer date,order estimated delivery date,shipping limit date,price,freight value,product category name,product weight g,product volume cm3,seller city,seller state,customer city,customer state
0,2017-10-02,2017-10-04,2017-10-10,2017-10-18,2017-10-06,29.99,8.72,utilidades_domesticas,500.0,1976.0,maua,SP,sao paulo,SP
1,2017-08-15,2017-08-17,2017-08-18,2017-08-28,2017-08-21,29.99,7.78,utilidades_domesticas,500.0,1976.0,maua,SP,sao paulo,SP
2,2017-08-02,2017-08-04,2017-08-07,2017-08-15,2017-08-08,29.99,7.78,utilidades_domesticas,500.0,1976.0,maua,SP,sao paulo,SP
3,2017-10-25,2017-10-27,2017-11-07,2017-11-13,2017-10-31,29.99,14.10,utilidades_domesticas,500.0,1976.0,maua,SP,florianopolis,SC
4,2017-08-10,2017-08-11,2017-08-16,2017-08-23,2017-08-16,75.90,7.79,bebes,238.0,3000.0,maua,SP,itaquaquecetuba,SP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112642,2018-08-10,2018-08-13,2018-08-21,2018-08-30,2018-08-15,44.99,22.25,esporte_lazer,600.0,12000.0,paulo lopes,SC,carai,MG
112645,2018-07-05,2018-07-04,2018-07-09,2018-07-20,2018-07-10,79.00,14.13,construcao_ferramentas_iluminacao,750.0,23520.0,porto ferreira,SP,ferraz de vasconcelos,SP
112647,2018-07-24,2018-07-24,2018-08-02,2018-08-16,2018-07-30,399.00,45.07,moveis_decoracao,2100.0,19200.0,americana,SP,fortaleza,CE
112648,2018-05-22,2018-05-24,2018-06-12,2018-06-08,2018-05-28,219.90,24.12,moveis_decoracao,5900.0,35301.0,sao paulo,SP,teofilo otoni,MG
112649,2018-05-16,2018-05-16,2018-05-21,2018-05-29,2018-05-22,15.50,12.79,perfumaria,83.0,1768.0,ribeirao preto,SP,sao bernardo do campo,SP

final["approved to carrier"] = final["order delivered carrier date"] - final["order approved at"]
final["carrier to shipping"] = final["shipping limit date"] - final["order delivered carrier date"]
final["shipping to estimated delivery"] = final["order estimated delivery date"] - final["shipping limit date"]
final["shipping to actual delivery"] = final["order delivered customer date"] - final["shipping limit date"]

In [33]:
final_copy = final.drop(["price","seller state","customer state"],axis=1)

In [34]:
final_copy

,order approved at,order delivered carrier date,order delivered customer date,order estimated delivery date,shipping limit date,freight value,product category name,product weight g,product volume cm3,seller city,customer city
0,2017-10-02,2017-10-04,2017-10-10,2017-10-18,2017-10-06,8.72,utilidades_domesticas,500.0,1976.0,maua,sao paulo
1,2017-08-15,2017-08-17,2017-08-18,2017-08-28,2017-08-21,7.78,utilidades_domesticas,500.0,1976.0,maua,sao paulo
2,2017-08-02,2017-08-04,2017-08-07,2017-08-15,2017-08-08,7.78,utilidades_domesticas,500.0,1976.0,maua,sao paulo
3,2017-10-25,2017-10-27,2017-11-07,2017-11-13,2017-10-31,14.10,utilidades_domesticas,500.0,1976.0,maua,florianopolis
4,2017-08-10,2017-08-11,2017-08-16,2017-08-23,2017-08-16,7.79,bebes,238.0,3000.0,maua,itaquaquecetuba
...,...,...,...,...,...,...,...,...,...,...,...
112642,2018-08-10,2018-08-13,2018-08-21,2018-08-30,2018-08-15,22.25,esporte_lazer,600.0,12000.0,paulo lopes,carai
112645,2018-07-05,2018-07-04,2018-07-09,2018-07-20,2018-07-10,14.13,construcao_ferramentas_iluminacao,750.0,23520.0,porto ferreira,ferraz de vasconcelos
112647,2018-07-24,2018-07-24,2018-08-02,2018-08-16,2018-07-30,45.07,moveis_decoracao,2100.0,19200.0,americana,fortaleza
112648,2018-05-22,2018-05-24,2018-06-12,2018-06-08,2018-05-28,24.12,moveis_decoracao,5900.0,35301.0,sao paulo,teofilo otoni
112649,2018-05-16,2018-05-16,2018-05-21,2018-05-29,2018-05-22,12.79,perfumaria,83.0,1768.0,ribeirao preto,sao bernardo do campo

In [35]:
final.to_csv("final.csv",index=False)
final_copy.to_csv("final-copy.csv",index=False)